<div class="container">
  <h2>Experience Designer</h2>
  <table style="width:100%">
    <tr>
      <th>ID</th>
      <th>Activité 1</th>
      <th>Activité 2</th>
      <th>Activité 3</th>
      <th>Preparé ?</th>
      <th>Payé ?</th>
      <th>Actions</th>
    </tr>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.id %></td>
        <% if experience.experience_slices.count > 0 %>
          <% experience.experience_slices.each do |experience_slice| %>
             <td><%= experience_slice.activity.name %></td>
          <% end %>
        <% else %>
          <td>Vide</td>
          <td>Vide</td>
          <td>Vide</td>
        <% end %>
        <% if experience.prepared_at.nil? %>
          <td>A preparer</td>
        <% else %>
          <td><%= experience.prepared_at.to_date %></td>
        <% end %>
        <% if experience.paid_at.nil? %>
          <td>A payer</td>
        <% else %>
          <td><%= experience.paid_at.to_date %></td>
        <% end %>
        <% if experience.prepared_at.nil? %>
          <td><%= link_to "Preparer", new_experience_experience_slice_path(experience) %></td>
        <% else %>
          <td><%#= link_to "Montrer", experience_path(experience) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
