
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="ginger-text">
      <p>Monsieur et Madame <%= @experience.user.primary_last_name %>, nous avons pris note de votre demande.
        Afin de confirmer votre expérience Ginger le <br> <str><%=
      @experience.date.strftime("%d/%m/%Y") %> <%= @experience.time_slot == "en
      soirée" ? "soirée" : "après-midi" %><str>, <br> nous vous laissons le soin de valider votre paiement.
     <br> Votre Majordome Ginger <br>
   </p>
      <div class="pay-btn">
        <button id="pay" class="btn-g" style="width: 30%">Payer</button>
      </div>
    </div>
    <div class="ginger-img">
      <%= image_tag "ginger_hipster.png" %>
    </div>
  </div>
</div>


<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @experience.checkout_session_id %>'
    });
  });
</script>
