<div class="prepare-page container">
  <h2>Créer l'Experience</h2>

  <p>Monsieur et Madame <%= @experience.user.primary_last_name.capitalize %> ont un budget de <%= humanized_money @experience.budget_cents %> CHF. Ils souhaitent sortir sur <%= @experience.city %>, le <%= @experience.date.to_date.strftime("%d/%m/%Y") %> <%= @experience.time_slot %>.</p>

  <div class="d-flex justify-content-between">
    <p>Budget: <%= humanized_money_with_symbol @experience.budget_cents %> </p>
    <p>Prix total: <span id="prix">0</span> CHF</p>
    <p>Durée totale: <span id="duration">0</span></p>
  </div>

  <div class="row">
    <div class="col-lg-6 activity-select-form">
      <div class="experience-slice-title">
        <h3>Selectionnez les composantes de l'experience</h3>
      </div>
      <%= render 'shared/exp_design_form_2' %>
    </div>
    <div class="selections col-lg-6">
      <div class="tab">
        <% @categories.each do |category| %>
          <button class="category tablinks <%= 'active' if category == Category.first %>" id="<%= category.name %>"><%= category.name %></button>
        <% end %>
      </div>
      <div class="tab mb-1">
        <% @cities.each do |city| %>
          <button class="city tablinks <%= 'active' if city == @experience.city %>" id="<%= city %>"><%= city %></button>
        <% end %>
      </div>
      <div class="sortable-activities" dropzone="move" id="content-list" style="color:black">
        <% @activities.each do |activity| %>
          <div class="draggable tabcontent content-wrapper <%= activity.category.name %> <%= activity.city %><%= ' default' if activity.category == Category.first && activity.city == @experience.city %>" draggable="true" name='<%= "activity-#{activity.id}" %>' value=<%= activity.id %>>
            <div class="activity-info">
              <div class="activity-name">
                <strong><%= activity.name %></strong>
              </div>
              <div class="activity-city">
                <%= activity.city %>
              </div>
            </div>
            <div class="activity-numbers">
              <div class="activity-price">
                <%= "#{activity.price_cents / 100} CHF" %>
              </div>
              <div class="activity-duration">
                <%= "#{activity.duration} mins" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



